body {
    background-color: coral;
    font-family: Helvetica;
    margin: 0px;
    font-size: 1vw;
}

h1 {
    margin: 0px;
}

ul {
    margin: 0px;
}

body > header {
    background-color: purple;
    color: maroon;
    font-family: "Fredonka One", sans-serif;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}



body > header {
    list-style: none;
    text-decoration: none;
}

body > main > article {
    width: 70%;
    margin: auto;

}

form {
    text-align: center;
}

body > footer {
    background-color: blueviolet;
    display: flex;

}

#footer-ul{
    display: flex;
    list-style: none;
}

#footer-ul > div > li > a{
    text-decoration: none;
    color: white;
}

img {
    border-radius: 50%;
}